.auth-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F7FAFA;
}

.root {
    width: 342px;
    padding: 7px;
    background-color: #F6F6F6;
}

.container-root {
    text-align: center;
    width: 300px;
    padding: 20px;
    color: #99989B;
    background-color: white;
    border-radius: 5px;
}

.mb-20 {
    margin-bottom: 15px !important;
}

.mr-20 {
    margin-right: 15px !important;
}

.footer {
    padding: 20px;
    background-color: #F6F6F6;
    color: gray;
    text-align: center;
}

.login-text {
    cursor: pointer;
    color: #7DC4C3;
    font-size: 18px;
    font-weight: bold

}

.ui.stacked.segment:after,
.ui.stacked.segment:before,
.ui.stacked.segments:after,
.ui.stacked.segments:before {
    display: none;
}

.root {
    width: 342px;
    padding: 7px;
    background-color: #F6F6F6;
}

.login-input-labels{
    font-size: 14px;
    color: #818991;
    opacity: 100%;
    font-family: Poppins-Regular;
    line-height: 20px;
}

.login-social-label{
    margin: 16px 0px 16px 0px;
    text-align: center;
    font-size: 14px;
}

.forgot-pass-label{
    margin: 16px 0px 16px 0px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.login-input{
    width: 260px;
    height: 40px;
}

.container-root {
    text-align: center;
    width: 300px;
    padding: 20px;
    color: #99989B;
    background-color: white;
    border-radius: 5px;
}

.mb-20 {
    margin-bottom: 15px !important;
}

.mr-20 {
    margin-right: 15px !important;
}

.footer {
    padding: 20px;
    background-color: #F6F6F6;
    color: gray;
    text-align: center;
}

.login-text {
    cursor: pointer;
    color: #7DC4C3;
    font-size: 18px;
    font-weight: bold

}

#auth .dont-have-account{
    margin: 0;
}

.email-confirmed-container-div{
    padding-top: 64px;
    color: #5ea29b
}

.email-confirmed-mail-icon{
    font-size: 100px;
    color: #9ccfcc;
}

.fallback-link{
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}
